.admin-container {
  display: flex;
  flex-flow: column;
}

.admin-content {
  padding: 20px;
}

@media (min-width: 1200px) {
  .admin-container {
    flex-flow: row;
  }

  .admin-content {
    flex: 1;
  }
}